  html, body #root, .dog__continer{
    height: 100%;
    justify-content: center;
    display: flex;
  }
.dog__container {
    margin-left:10%;
    text-decoration: none;
}
.dog__detail__name{
    font-size: 30px;
    color: #778899;
}
img{
    width:480px;
    height: auto;
}
.dog__details{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #778899;
    font-size: 18px;
}
.dog__details__column{
    padding-bottom: 10%;
}