.dogs {
    margin-left:10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px;
    width: 80%;
    text-decoration: none;
}
.dogs .dog{
    background-color: white;
    align-items: flex-start;
    margin-bottom: 70px;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    justify-content: space-between;
    box-shadow: 0 13px 27px -5px;
    color: #778899;
}
.dog img {
    position: relative;
    max-width: 240px;
}
.dog .dog__title{
    font-weight: 300;
    margin: 0;
    font-size: 24px;
} 
.nav-link{
    text-decoration: none;
}
.dog__name{
    max-width: 200px;
}